body{
    margin: 0;
    padding: 0;
  box-sizing: border-box;

}

.conthero{
    background-color: #152f3f;
    padding: 70px 100px 0 100px;
        overflow: hidden;
}

/********** Textos **********/
.conthero h1{
font-family: "Open Sans", sans-serif;
font-weight: 400;
text-align: center;
font-size: 65px;
color: white;
margin: 0 260px;
   overflow: hidden;
   
}

.conthero p{
      font-family: "Roboto", sans-serif;
      text-align: center;
      color: rgb(176, 199, 213);
      font-size: 20px;
}

.conthero a{
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: #D4A054;
   background-color: rgb(17, 37, 49);
   border-radius: 100px;
      padding: 15px 25px;
      border: solid 2px rgba(192, 187, 187, 0.097);
}

.conthero a:hover{
    color: rgb(176, 199, 213);
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bi-house-up{
    margin-right: 10px;
}

/********** Fade In Up **********/

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.fade-in-up {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1.1s ease forwards;
}

.fade-in-up.delay-1 { animation-delay: 0.1s; }
.fade-in-up.delay-2 { animation-delay: 0.3s; }
.fade-in-up.delay-3 { animation-delay: 0.3s; }
/********** Imagen **********/
.hero-image-cont{
    background-color: #152f3f;
      width: 100%;
            height: 100vh;
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
               overflow: hidden;
}

.hero-image {
            width: 80%;
            height: 92%;
            object-fit: cover;
            transform: scale(1);
            transition: transform 0.4s ease-out;
        }

        .hero-image.zoomed {
            transform: scale(1.1); /* Ajusta este valor para más o menos zoom */
        }

        @media screen and (max-width:800px){
            .conthero{
            padding: 40px 18px 0 18px;
            }

            /********** Textos **********/
.conthero h1{

font-size: 45px;

margin: 0;


}
.conthero a{
  z-index: 10;
}

/********** Imagen **********/
.hero-image-cont{
padding-top: 60px;
      width: 100%;
            height: 20vh;
            
}

.hero-image {
    
            width: 100%;
            height: 100%;
            object-fit: cover;
     
        }

        }