---
import '../styles/cinturon.css'
---

<section class="cinturon">

    <div class="caja-cinturon push-up">
        <h2>Acortamos la distancia entre el sector inmobiliario y sus necesidades.</h2>
        <p>¿Listo para encontrar la casa de tus sueños? Deja que Altivé te guíe en cada paso del camino.</p>
        <ul style="list-style: none; margin-left:-22px">
            <li><span class="numero-caja">01</span>Proporcionamos soluciones duraderas a sus necesidades.</li>
             <li><span class="numero-caja">02</span>Más de 100 clientes confían en nosotros.</li>
              <li><span class="numero-caja">03</span>Garantizamos la seguridad de sus activos.</li>
              <div class="caja-btn">
                <div class="btn-cinturon"> <a href="https://wa.link/i8vr13" style="text-decoration: none;"> <i class="bi bi-house-up"></i> Contáctanos ahora</a></div>
              </div>
        </ul>
    </div>
</section>

<script>
   import '../scripts/cinturonfade'
</script>