---
import '../styles/footer.css'
import ImageLogo from '../assets/altive-logo.png';
---

<section class="footer">
    <div class="footer-grid">
        
        <div class="footergrid1">
            <div class="footer-logo">
                <img 
                src={ImageLogo.src}
                width="47%"
                height="50%"
                alt="favlash-logo"/>
              </div>
              <p>Trabajamos con profesionales altamente capacitadas que te brindaran un servicio excepcional y garantizado. </p>
        </div>
        <div class="footergrid2">
            <h3>contacto</h3>
            <ul>
                <li><i class="bi bi-geo-alt-fill"></i>Paniagua 3017-5. Col Aviación, 22014, Tijuana, B.C. México</li>
                <li><i class="bi bi-telephone-inbound-fill"></i><a href="tel:+526648088202">(664) 808-8202</a></li>
                <li><i class="bi bi-envelope-paper-heart-fill"></i><a href="mailto:info@altive.realty">info@altive.realty</a></li>
            </ul>
        </div>

        <div class="footergrid3">
         

            <h3>Síguenos</h3>
            <ul>
               <li><a href="" target="_blank"><i class="bi bi-facebook"></i></a></li>
        <li><a href="" target="_blank"> <i class="bi bi-instagram"></i></a></li>
       
        <li><a href="https://wa.link/i8vr13" target="_blank"><i class="bi bi-whatsapp"></i></a></li>
            </ul>
        </div>
        <div class="footergrid4">
            <h3>Privacidad</h3>
            <ul>
                <li><a href="" style="text-decoration: none;  color: rgba(255, 255, 255, 0.779);">Aviso de privacidad</a></li>
            
                <li><a href="" style="text-decoration: none;  color: rgba(255, 255, 255, 0.779);">Términos y condiciones</a></li>
            </ul>
        </div>

        
    </div>

</section>