---
import '../styles/navbar.css'
import ImageLogo from '../assets/altive-logo.png';
---

<section class="navbar-f">
  <nav>
    <div class="logo">
      <img 
        src={ImageLogo.src}
        width="12%"
        height="50%"
        alt="altive-logo"/>
    </div>

    <div class="nav-links">
      <a href="/">Inicio</a>
      <a href="#nosotros">Nosotros</a>
      <a href="#servicios">Servicios</a>
      <a href="#departamentos">Departamentos</a>
      <a href="#faqs">Faq's</a>
    </div>

    <a href=""><button class="btn-escritorio">Contáctanos</button></a>

    <div class="hamburger" id="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>

  <!-- Overlay oscuro -->
  <div class="menu-overlay" id="menuOverlay"></div>

  <!-- Menú móvil -->
  <div class="mobile-menu" id="mobileMenu">
    <!-- Botón cerrar -->
    <button class="close-menu" id="closeMenu">
      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="white" viewBox="0 0 16 16">
        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
      </svg>
    </button>

    <!-- Enlaces del menú -->
    <div class="mobile-menu-content">
      <a href="/">Inicio</a>
      <a href="#nosotros">Nosotros</a>
      <a href="#servicios">Servicios</a>
      <a href="#departamentos">Departamentos</a>
      <a href="#faqs">Faq's</a>
      <button class="nav-button">Contáctanos</button>
    </div>
  </div>
</section>
