---
import AltiveLogo from '../assets/altive-logo.png'
---
<div class="construccion">
	<img 
	src={AltiveLogo.src}
	
	/>

<h1>
	Sitio en construcción
</h1>
<p>
	Tu próximo hogar está más cerca de lo que imaginas. <br>Pronto podrás explorar, comparar y elegir tu nuevo hogar desde un solo lugar.
</p> 
<div>



<style>
body{
	margin: 0;
	padding: 0;
	  background-image: 
    linear-gradient(rgba(21, 47, 63, 0.948)),  
    url('../assets/fondo-a.webp'); 
}

.construccion{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
flex-direction: column;
}

h1{
	color: white;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	font-size: 45px;

}

p{
	color: white;
	  font-family: "Open Sans", sans-serif;
	 font-size: 19px;
	 text-align: center;
	 line-height: 32px;
}

img{
	max-width: 25%;
	max-height: 24%;
}

@media screen and (max-width:800px) {

	.construccion{
		margin: 0 15px;
	}
	img{
	max-width: 40%;
	max-height: 39%;
}

h1{
	font-size: 40px;
	text-align: center;

}

p{

	 font-size: 18px;
	 text-align: center;

}
}
</style>
